{% extends 'baseAdmin.html.twig' %}


{% block title %}Modifier la réservation{% endblock %}

{% block body %}
<body>
  <main id="main" class="main">
    <div class="container mt-5">
        <h1 class="text-center text-burgundy mb-4">Modifier la réservation</h1>

        {{ form_start(form, {'attr': {'class': 'reservation-form'}}) }}
        
        <!-- Date de début -->
        <div class="form-group mb-3">
            <label for="{{ form.dateDebut.vars.id }}" class="form-label">Date de début</label>
            {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.dateDebut) }}
        </div>

        <!-- Date de fin -->
        <div class="form-group mb-3">
            <label for="{{ form.dateFin.vars.id }}" class="form-label">Date de fin</label>
            {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.dateFin) }}
        </div>

        <!-- Motif -->
        <div class="form-group mb-3">
            <label for="{{ form.motif.vars.id }}" class="form-label">Motif</label>
            {{ form_widget(form.motif, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.motif) }}
        </div>

        <!-- Ressource -->
        <div class="form-group mb-3">
            <label for="{{ form.ressource.vars.id }}" class="form-label">Ressource</label>
            {{ form_widget(form.ressource, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ressource) }}
        </div>

        <div class="d-flex justify-content-between">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg"></button>
            
            <!-- Cancel Button (Back to list) -->
            <a href="{{ path('app_reservations') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>
        </div>
        
        {{ form_end(form) }}
    </div>
 </main><!-- End #main -->
</body>
{% endblock %}