{% extends 'baseAdmin.html.twig' %}

{% block body %}
<body>
<main id="main" class="main">
    <div class="container mt-4 d-flex justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">List of Clubs</h2>
            <table class="table">
                <caption class="text-center">List of available clubs</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Club Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for club in clubs %}
                        <tr>
                            <th scope="row">{{ club.idClub }}</th>
                            <td>{{ club.nomClub }}</td>
                            <td>{{ club.categorieClub }}</td>
                            <td>{{ club.dateCreationClub|date('Y-m-d') }}</td>
                            <td>{{ club.statusClubs }}</td>
                            <td>
                                <a href="{{ path('admin_edit_club', {'id': club.idClub}) }}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{{ path('admin_delete_club', {'id': club.idClub}) }}" class="btn btn-danger btn-sm"
                                   onclick="return confirm('Are you sure you want to delete this club?');">Delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">No clubs available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>
    </div>
    </main>
</body>
{% endblock %}
